@import "../../styles/mixins";
@import "../../styles/colors";

.all_information{
  position: absolute;
  //padding-top: 1px;
  bottom: 0;
  width: 100%;
  height: 325px;
  z-index: 2;
  border-radius: 44px 44px 0 0 ;
  background: linear-gradient(168deg, rgba(46, 51, 90, 0.26) -4.68%, rgba(28, 27, 51, 0.26) 95.45%);

  & .border{
    top: 0;
    position: absolute;
    width: 100%;
    height: 325px;
    left: 0;
    display: block;
    //z-index: 3;
    object-fit: fill;
  }

  & .ellipse1{
    position: absolute;
    top: 63px;
    right: -131px;
    width: 250px;
    height: 250px;
    background: conic-gradient(from 180deg at 50% 50%, rgba(97, 47, 171, 0.00) 50.017388463020325deg, #612FAB 129.55134987831116deg, rgba(97, 47, 171, 0.00) 226.05700492858887deg, #612FAB 312.53719568252563deg);
    filter: blur(70px);
    z-index: 3;
  }

  & .ellipse3{
    position: absolute;
    top: 38px;
    right: -51px;
    width: 250px;
    height: 250px;
    background: conic-gradient(from 180deg at 50% 50%, rgba(97, 47, 171, 0.00) 50.017388463020325deg, #612FAB 129.55134987831116deg, rgba(97, 47, 171, 0.00) 226.05700492858887deg, #612FAB 269.28977251052856deg);
    filter: blur(70px);
  }

  & .ellipse4{
    position: absolute;
    top: 282px;
    left: 43px;
    width: 425px;
    height: 425px;
    flex-shrink: 0;
    border-radius: 425px;
    background: conic-gradient(from 180deg at 50% 50%, rgba(97, 47, 171, 0.00) 50.017388463020325deg, #612FAB 129.55134987831116deg, rgba(97, 47, 171, 0.00) 226.05700492858887deg, #612FAB 269.28977251052856deg);
    filter: blur(100px);

  }

  & .top_ellipse1{
    top: -35px;
    left: calc(50% - 143px);
    position: absolute;
    width: 286px;
    height: 32px;
    border-radius: 286px;
    background: rgba(196, 39, 251, 0.50);
    filter: blur(30px);
  }



  & .top_ellipse2{
    top: -10px;
    left: calc(50% - 143px);
    position: absolute;
    width: 286px;
    height: 10px;
    fill: #E0D9FF;
    filter: blur(5px);
  }

  & .segmented_control{
    position: relative;
    padding: 24px 32px 5px;
    @include display-flex(space-between);
    backdrop-filter: blur(10px);
    border-radius: 44px 44px 0 0;
    overflow: hidden;


    & .shape{
      position: absolute;
      top: 9px;
      left: calc(50% - 24px);
      width: 48px;
      height: 5px;
      flex-shrink: 0;
    }

    & .separator_up{
      top: 0;
      position: absolute;
      width: 100%;
      height: 1px;
      background: linear-gradient(270deg, rgba(255, 255, 255, 0.00) 9.37%, rgba(255, 255, 255, 0.50) 50.32%, rgba(255, 255, 255, 0.00) 88.58%);
      background-blend-mode: overlay;
    }
  }

  & .all_information_wrap{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    //padding-bottom: 100px;

    & .forecast{
      position: relative;
      width: 100%;
      height: 195px;
      padding: 10px 0 10px;

      & .control{
        @include display-flex(space-between);
        position: relative;
        padding: 0 32px 5px;
        margin-bottom: 5px;

        & .separator_down{
          bottom: 0;
          left: 0;
          position: absolute;
          width: 100%;
          height: 1px;
          background: rgba(255, 255, 255, 0.30);
          background-blend-mode: overlay;
          box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.20);
          backdrop-filter: blur(10px);
        }

        & .underline{
          bottom: 0;
          left: 0;
          position: absolute;
          width: 100%;
          height: 3px;
          background: linear-gradient(270deg, rgba(255, 255, 255, 0.00) 57.31%, #FFF 78.97%, rgba(255, 255, 255, 0.00) 97.44%);
          background-blend-mode: overlay;
          transition: all 1s ease-out;
        }
        & .underline_weekly{
          left: 53%;
          transition: all .5s ease-out;
        }

        & button{
          @include fonts(600, 15px, 20px, $label-dark-secondary);
          letter-spacing: -0.5px;
          background: transparent;
          border: none;
        }
      }

      & .shift_block{
        height: 146px;
        margin-left: 20px;
        @include display-flex(flex-start);
        gap: 12px;
        overflow-x: scroll;

        & .item_now{
          background: $background-color_three!important;
        }

        & .item{
          @include display-flex(space-between);
          flex-shrink: 0;
          width: 60px;
          height: 100%;
          padding: 16px 8px;
          flex-direction: column;
          //gap: 12px;
          border-radius: 30px;
          border: 1px solid rgba(255, 255, 255, 0.20);
          background: rgba(72, 49, 157, 0.20);
          box-shadow: 5px 4px 10px 0 rgba(0, 0, 0, 0.25), 1px 1px 0 0 rgba(255, 255, 255, 0.25) inset;

          & .date{
            @include display-flex;
            flex-direction: column;
            gap: 2px;

            & .time{
              @include fonts(600, 15px, 20px, $label-dark-primary);
              letter-spacing: -0.5px;
            }
          }


          & .weather_icon{
            @include display-flex;
            flex-direction: column;
            gap: 4px;

            & .icon{
              width: 32px;
              height: 32px;
            }

            & .label{
              margin-top: -6px;
              @include fonts(600, 13px, 18px, $jazzy_jade);
              letter-spacing: -0.078px;
            }
          }

          & .temperature{
            @include fonts(400, 20px, 24px, $label-dark-primary);
            letter-spacing: 0.38px;
          }
        }
      }
    }

    & .tab_bar{
      position: relative;
      width: 100%;
      height: 100px;
      flex-shrink: 0;

      & .back{
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 88px;
        flex-shrink: 0;
        padding: 20px 32px 24px;

        & .menu_block{
          height: 100%;
          @include display-flex(space-between);
          position: relative;
          z-index: 4;
        }

        & .svg{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 88px;
          //flex-shrink: 0;
          background: linear-gradient(180deg, rgba(58, 58, 106, 0.26) 0%, rgba(37, 36, 76, 0.26) 100%);
          stroke-width: 0.5px;
          stroke: rgba(117, 130, 244, 0.50);
          backdrop-filter: blur(25px);
          object-fit: fill;
        }
      }

      & .front{
        position: absolute;
        top: 0;
        left: 76px;
        width: calc(100% - 152px);
        height: 100px;
        z-index: 5;
        @include display-flex(center, flex-start);
        //background: red;

        & img{
          position: absolute;
          bottom: 0;
          left: 0;
          object-fit: fill;
          width: 100%;
          height: 100%;
        }

        & input{
          position: relative;
          z-index: 6;
        }
      }
    }

    & .weather_details{
      width: 100%;
      padding: 10px 24px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 12px 14px;

      & .item{
        width: 100%;
        height: 164px;
        border-radius: 22px;
        border: 1px solid #FFF;
      }
    }
  }


}