$background-color_one: #45278B;
$background-color_two: #2E335A;
$background-color_three: #48319D;

$label-dark-primary: #FFF;
$label-dark-secondary: rgba(235, 235, 245, 0.60);

$jazzy_jade: #40CBD8;




$accent: #333333;
$background-color: #e5e5e5;
$carbon: #333333;
$midday_sun: #ffdc8e;

$ambrosia_cake: #eee9cf;
$diamond_dust: #f8f5e6;
$fresh_guacamole: #fff4ea;