@import "../../../styles/mixins";
@import "../../../styles/colors";

.item{
  width: 100%;
  height: 164px;
  border-radius: 22px;
  border: 1px solid #FFF;
  padding: 16px;
  background: linear-gradient(to right, #291c44, #341f5a);
  flex-shrink: 2;

  & .label{
    @include display-flex(flex-start);
    gap: 6px;
    white-space: nowrap;

    & img{
      width: 18px;
      height: 18px;
      object-fit: contain;
    }

    & span{
      @include fonts(600, 15px, 20px, $label-dark-secondary);
      text-transform: uppercase;
    }
  }

  & .uv{
    height: 112px;
    @include display-flex(center, flex-start);
    gap: 4px;
    flex-direction: column;

    & .value{
      @include fonts(300, 26px, 32px, #FFF);
    }

    & .description{
      @include fonts(400, 24px, 24px, #FFF);
    }

    & .line_indicator{
      margin-top: 10px;
      position: relative;
      height: 9px;
      width: 100%;

      & .line{
        position: absolute;
        left: 0;
        top: 3px;
        width: 100%;
        height: 4px;
        background: linear-gradient(to right, #3658b1, #e64395);
        border-radius: 1.5px;
      }

      & .point{
        position: absolute;
        top: 0;
        width: 10px;
        height: 10px;
        border: 2px solid #291c44;
        border-radius: 5px;
        background: #e5e5e5;
        z-index: 1;
      }
    }
  }

  & .sunrise{
    height: 112px;
    @include display-flex(space-between, flex-start);
    gap: 4px;
    flex-direction: column;

    & .value{
      @include fonts(300, 26px, 26px, #FFF);
      white-space: nowrap;
    }

    & img{
      width: 100%;
      object-fit: contain;
    }

    & .description{
      @include fonts(400, 12px, 12px, #FFF);
    }
  }

  & .wind{
    height: 112px;
    @include display-flex;
    flex-direction: column;
    position: relative;

    & .description{
      @include fonts(400, 12px, 12px, #FFF);
    }

    & .value{
      position: absolute;
      top: 50px;
      left: 40%;
      @include fonts(400, 12px, 12px, #FFF);
    }

    & .unit{
      position: absolute;
      top: 62px;
      left: 40%;
      @include fonts(400, 10px, 10px, #FFF);
    }
  }

  & .rain_snow{
    height: 112px;
    @include display-flex;
    gap: 4px;
    flex-direction: column;

    & .value{
      @include fonts(300, 26px, 26px, #FFF);
      white-space: nowrap;
    }

    & .description{
      @include fonts(400, 12px, 12px, #FFF);
    }
  }

  & .feels_like{
    height: 112px;
    @include display-flex(space-between, flex-start);
    gap: 4px;
    flex-direction: column;
    padding-top: 10px;

    & .value{
      @include fonts(300, 26px, 26px, #FFF);
      white-space: nowrap;
    }

    & .description{
      @include fonts(400, 12px, 12px, #FFF);
    }
  }

  & .pressure{
    height: 112px;
    @include display-flex;
    position: relative;

    & .description{
      @include fonts(400, 10px, 10px, #FFF);
    }

    & .of_mercury{
      position: absolute;
      left: 10px;
      top: 30%;
      @include fonts(300, 26px, 26px, #FFF);
    }

    & .mmHg{
      position: absolute;
      left: 10px;
      top: 52%;
      @include fonts(400, 10px, 10px, #FFF);
    }


  }




}
