@import "../../styles/mixins";
@import "../../styles/colors";

.map{
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  z-index: 20;
  //padding: 0 16px;
  border: 3px solid $label-dark-secondary;
  height: calc(100% - 293px);
  //padding-bottom: 30px;


  & button{
    position: absolute;
    bottom: 6px;
    left: 20px;
    padding: 6px 9px;
    border-radius: 6px;
    border: 1px solid $label-dark-secondary;
    @include fonts(600, 15px, 20px, $label-dark-secondary);
    background: linear-gradient(to right, #291c44, #341f5a);
  }
}